<% @user.courses.each do |course|%>
<div class="media">
    <div class="media-left media-middle">
        <%= gravatar_for @user %>
        <h3 class="panel-title">Coodinator Name: <%= @user.name %></h3>
    </div>
    <div class="media-body">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= course.name %></h3>
            </div>
            <div class="panel-body">
                <b>Category:</b> <%= course.category.title %>
                <br>

                <b>Location:</b> <%= course.location.name %>
                <br>
                <b>Created:</b> <%= time_ago_in_words(course.created) %> ago
                <br>
                <b>Prerequisite:</b> <%= course.prerequisite %>
                <br>
                <% if logged_in? %>
                    <div class="button">
                        <%= link_to '' do %>
                            <%= fa_icon "thumbs-o-up" %> 4
                        <% end %>
                        <%= link_to '' do %>
                            <%= fa_icon "thumbs-o-down" %> 0
                        <% end %>
                    </div>
                <% else %>
                    <div class="button">
                        <%= fa_icon "thumbs-o-up" %> 4
                        <%= fa_icon "thumbs-o-down" %> 0
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
</div>
<% end %>
