<% obj.courses.each do |course|%>
<div class="media">
    <div class="media-body">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= course.name %></h3>
            </div>
            <div class="panel-body">
                <b>Category:</b> 
                 <% course.categories.each do |cat| %>
                    <%= cat.title %>
                <% end %>
                <br>

                 <b>Location:</b> 
                 <% course.locations.each do |loc| %>
                    <%= loc.name %>
                <% end %>
                <br>
                <b>Created:</b> <%= time_ago_in_words(course.created) %> ago
                <br>
                <b>Prerequisite:</b> <%= course.prerequisite %>
                <br>
                <% if logged_in? %>
                    <div class="button">
                       <% pre_like = course.likes.find { |like| like.user_id == current_user.id} %>
                        <% if !pre_like %>
                            <%= link_to course_likes_path(course),method: :post do %>
                                <%= course.likes.count %>
                                <%= fa_icon "thumbs-o-up"%> 
                            <% end %>
                        <% else %>
                        <%= link_to course_like_path(course,pre_like), method: :delete do %>
                            <%= course.likes.count %>
                            <%= fa_icon "thumbs-o-down" %> 
                        <% end %>
                        <%end %>
                    </div>
                <% else %>
                    <div class="button">
                        <%= fa_icon "thumbs-o-up" %> <%= course.votes.count %>
                        <%= fa_icon "thumbs-o-down" %> 0
                    </div>
                <% end %>
                 <% if course.user == current_user %>
                    <%= link_to edit_course_path(course) do %>
                        <%= fa_icon "edit" %> Edit Course
                    <% end %>  
                     <%= link_to course_path(course),method: :delete do %>
                        <%= fa_icon "Delete" %> Delete Course
                    <% end %>
                <% end %>
                
            </div>
        </div>
    </div>
</div>
<% end %>
