<div class="jumbotron">
  <h1>Welcome to your Course App</h1>
  <p>Homepage for RAD Assignment 2</p>
  <p>
  <%= link_to signup_path, :class=>"btn btn-primary btn-lg" do %>
    <%= fa_icon "cog" %> Sign Up now
  <% end %>
  </p>
</div>

<div class="container-fluid">
  <div class="row">
     <div class="col-xs-6 col-md-4"><b>View Course as Guest User</b></div>
      <div class="col-xs-6 col-md-4"><b>Sign in to your account</b></div>
  </div>
  <br>
  <div class="row">
     <div class="col-xs-6 col-md-4">Browse and view courses as guest user and sign up later</div>
      <div class="col-xs-6 col-md-4">Update your courses, rate courses, view coordinator informations</div>
  </div>
  <br>
  <div class="row">
     <div class="col-xs-6 col-md-4">
      <%= link_to courses_path, :class=>"btn btn-primary btn-lg" do %>
        <%= fa_icon "book" %> Browse Courses
      <% end %>
      </div>
     <div class="col-xs-6 col-md-4">
      <%= link_to login_path, :class=>"btn btn-primary btn-lg" do %>
        <%= fa_icon "address-card" %> Login
      <% end %>
     </div>
  </div>
</div>

