<%= form_for (@course) do |f| %>
  <%= render 'shared/error_messages', obj:@course %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :prerequisite %>
    <%= f.text_field :prerequisite, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="checkbox" style="padding-left:0px;">
    <b>Category:</b><br>
    <% @category.each do |category| %>
      <%= check_box_tag "category[category][]",category,@course.categories.include?(category) %>
      <%= category.title %>
      <%#= f.label :category, "#{category.title}", :style=>"padding-left:0px;" %>
      <%#= f.check_box :categories, {:style=>"width:5%;"}, { multiple: true }, category.id %>
      <br>
    <% end %>
  </div>
  <div class="checkbox" style="padding-left:0px;">
    <b>Location:</b><br>
      <%#= f.collection_check_boxes :locations, Location.all, :id, :name do |cb| %>
        <%#= cb.label(class:"checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%>
      <% #end %>
    <% @location.each do |location| %>
      <%= check_box_tag "location[location][]",location,@course.locations.include?(location) %>
      <%= location.name %>
      <%#= f.label :location, "#{location.name}", :style=>"padding-left:0px;" %>
      <%#= f.check_box :locations,{:style=>"width:5%;"}, { multiple: true }, location.id %>
      <br>
    <% end %>

    <%# f.check_box :location, { multiple: true }, @location.all.pluck(:id) %>
  </div>
  <div class="form-group">
    <%= f.label "Course Image" %>
    <%= f.file_field :courseImage %>
  </div>
  <div class="actions">
    <%= f.submit "Create Course", class: "btn btn-primary" %>
  </div>
<% end %>
