<%= form_for (@course) do |f| %>
  <%= render 'shared/error_messages', obj:@course %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :prerequisite %>
    <%= f.text_field :prerequisite, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>"form-control" %>
  </div>
  <div class="checkbox" style="padding-left:0px;">
    <b>Category:</b><br>
    <% @category.each do |category| %>
      <%= f.label :cateogry, "#{category.title}", :style=>"padding-left:0px;" %>
      <%= f.check_box :category_id, {:style=>"width:5%;"}, "#{category.title}","#{category.title}" %>
      <br>
    <% end %>
  </div>
  <div class="checkbox" style="padding-left:0px;">
    <b>Location:</b><br>
    <% @location.each do |location| %>
      <%= f.label :location, "#{location.name}", :style=>"padding-left:0px;" %>
      <%# f.check_box :location_id, {:style=>"width:5%;"}, "#{location.id}","#{location.id}" %>
      <%= f.check_box :location,{:style=>"width:5%;"}, { multiple: true }, location.id %>
      <br>
    <% end %>

    <%# f.check_box :location, { multiple: true }, @location.all.pluck(:id) %>
  </div>
  <div class="form-group">
    <%= f.label "Course Image" %>
    <%= f.file_field :courseImage %>
  </div>
  <div class="actions">
    <%= f.submit "Create Course", class: "btn btn-primary" %>
  </div>
<% end %>
