<div class="row">
<%= render 'shared/error_messages', obj:@category %>
  <div class="col-md-6 col-md-offset-3 box">
    <%= form_for (@category) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, :class=>"form-control", placeholder:"Enter Category Name" %>
        <%= f.submit "Create new Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>