  <!-- Site footer -->
<footer class="footer-distributed">

    <div class="footer-left">

      <h3>Course<span>App</span></h3>
      <p class="enq">General Inquires</p>
      <p class="footer-links">
        <%= link_to 'Home', root_path %>
        ·
        <%= link_to 'Contact Us', contacts_path %>
      </p>

      <p class="footer-company-name">Course App &copy; 2019</p>

      <div class="footer-icons">

        <%= link_to "http://www.facebook.com/RMITuniversity/" do %>
            <%= fa_icon "facebook" %>
        <% end %>
        <%= link_to "http://www.twitter.com/RMIT" do %>
          <%= fa_icon "twitter" %>
        <% end %>
        <%= link_to "http://www.instagram.com/rmituniversity/" do %>
          <%= fa_icon "instagram" %>
        <% end %>
        <%= link_to "http://www.github.com/s3692351" do %>
          <%= fa_icon "github" %>
        <% end %>
        <%= link_to "http://www.linkedin.com/sogyal-thundup-s-505a22bb/" do %>
          <%= fa_icon "linkedin" %>
        <% end %>
      </div>
    </div>
</footer>